body {
  background-color: pink;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.links a {
  color: blueviolet;
}
.image-croissant {
  max-width: 800px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
